.howitworks-text-section {
  padding: 0 8% 3rem;
}

.howitworks-text-section h2 {
  margin-top: 3rem;
}

@media(min-width: 700px) {
  .howitworks-text-section {
    padding: 1rem 4rem 5rem;
  }
  .howitworks-text-section > * {
    margin-left: auto;
    margin-right: auto;
  }
  .howitworks-text-section p {
    max-width: 600px;
  }
  .howitworks-text-section h2 {
    max-width: 600px;
  }
}