* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.666;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f6f6f6;
}

img, svg {
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: #c0392b;
}

p {
  margin: 1.5rem 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-color: #eeeeee;
  color: #444;
  padding: .5rem;
  border: 0;
  border-radius: 4px;
  line-height: 1.2;
  transition: background-color .3s;
}

input:focus {
  background-color: #ffffff;
  color: #000;
  outline: none;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
  padding: .5rem;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  transition: background-color .3s;
  cursor: pointer;
  font-weight: 700;
}

button:focus {
  outline: none;
}

button:active, button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

strong {
  font-weight: 700;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 8%;
  top: 0;
}

.page-internal h1 {
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
}

.page-internal h2 {
  line-height: 1.4;
}

.fade-container {
  transition: opacity .3s;
  opacity: 1;
}

.fade-container.fade {
  opacity: 0;
}

@media(min-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
  .page-internal h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  button {
    display: inline-block;
    width: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .triangle {
    left: 2.5rem;
  }
}

@media(min-width: 1023px) {
  .triangle {
    left: 4rem;
  }
}
